.newPost {
  margin-bottom: 20px;
  display: flex;
}

.newPostText {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #e1e3e6;
  font-style: normal;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 7px;
  margin-left: 12px;
}

.input {
  resize: none;
  height: 60px;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.postButton:hover {
  background: #CACBCE;
}

.postButton {
  /*width: 130px;*/
  /*height: 30px;*/
  padding-left: 16px;
  padding-right: 16px;
  font-size: 13px;
  font-weight: 400;
  color: #222222;
  background: #E1E3E6;
}

.postButtonBlock {
  text-align: right;
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
