.nav {
  grid-area: nav;
  width: 151px;
  background-color: #141414;
  height: 100%;
  z-index: 1;
  top:0;
  margin-left: -6px;
  margin-right: 16px;

}

.block {
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  width: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.link {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  text-decoration: none;
  color: #e1e3e6;
}


.block:hover {
  background-color: #222222;
}

.block svg {
  margin-right: 10px;
}