.questions {
  margin-left: 7px;
  position: relative;
}

.questions svg {
  color: #656565;
  width: 12px;
  height: 12px;
}

.questions svg:hover {
  color: #828282
}

.questions:hover .answerBlock {
  visibility: visible;
  opacity: 1;
  transform:  translateX(-47.5%);
}

.answerBlock {
  position: absolute;
  width: 260px;
  padding: 11px 12px;
  box-sizing: border-box;
  margin-top: 8px;
  transform: translateX(-47.5%) translateY(10px);
  background-color: #292929;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.answerBlock h5 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
}

.answerBlock::before, .answerBlock::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid  #333333;
}

.answerBlock::after {
  border-bottom: 10px solid  #292929;
  top: -19px;
}