body {
  color: #e1e3e6;
  background-color: #141414;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 21px;
}

p {
  font-weight: 400;
  font-size: 13px;

}

button {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #e1e3e6;
  border: none;
  background: #424242;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #515151;
}

button:active {
  opacity: 0.8;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #B2B2B2;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #B2B2B2;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #B2B2B2;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #B2B2B2;
}

.contentWrapper {
  /*display: flex;*/
  display: grid;
  grid-template-columns: 163px 1fr;
  grid-template-areas: 'nav content';
  padding-top: 15px;
}

.contentCenter {
  width: 1080px;
  margin: 0 auto;
}

input, textarea {
  font-size: 15px;
  border: none;
  background: transparent;
  color: white;
  outline: none;
}

.contentBlock {
  padding: 15px 20px ;
  background-color: #222222;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
}

.clearButton {
  padding: 0;
  background: transparent;
  border-radius: 0;
}

.clearButton:hover {
  background: transparent;
}

