.friendBlock {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #333333;
  justify-content: space-between;
}

.friendBlock img {
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.infoBlock {
  padding-top: 5px;
}

.link {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  color: #e1e3e6;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.infoBlock p {
  margin-top: 9px;
  cursor: pointer;
  font-size: 13px;
  line-height: 15px;
  color: #c3073f;
  font-weight: 400;
}

.infoBlock p:hover {
  text-decoration: underline;
}

.more svg {
  cursor: pointer;
  color: #656565;
}
