.messages {
  padding-top: 6px;
  padding-bottom: 7px;
}

.message {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-left: 30px;
}

.messageIndents {
  /*margin-top: 20px;*/
}

.avatar {
  width: 36px;
  border-radius: 50%;
}

.text {
  margin-left: 10px;
  margin-top: -3px;
}

.name {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  color: #C3073F;
  margin-top: -5px;
}

.messageText {
  font-weight: 400;
  line-height: 18px;
  /*margin-top: 3px;*/
  font-size: 13px;
  grid-column: 2;
}